.wrapper {
  width: 100%;
  overflow-x:scroll;
  white-space: nowrap;
  float:left;
  position: relative;
}

.item {
  display: inline-block;
  height: 100px;
  overflow:hidden;
  
  img {
    /* max-height: 100vh; */
  }
}
